<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title>TUTO WEB SOCKET</title>
    </head>

    <body>
        <div class="container mt-5">
            <div class="row">
                {% for s in salon %}
                <div class="col-md-6">
                    <div class="card-deck">
                        <div class="card">
                            <img src="{{ s.image.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ s.nom }}</h5>
                                <a href="{% url 'chat' s.slug %}"><button class="btn btn-primary">Entrez</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>